<Addons Size="Size.Small">
    <Addon AddonType="AddonType.Start">
        <Button Color="Color.Primary">
            <Icon Name="IconName.MinusSquare" />
        </Button>
    </Addon>
    <Addon AddonType="AddonType.Body">
        <NumericEdit TValue="int" ShowStepButtons="false" @bind-Value="Value" />
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Primary">
            <Icon Name="IconName.PlusSquare" />
        </Button>
    </Addon>
</Addons>

@code{

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

}