<Addons Size="Size.Small">
    <Addon AddonType="AddonType.Start">
        <Button Color="Color.Primary">
            <Icon Name="IconName.MinusSquare" />
        </Button>
    </Addon>
    <Addon AddonType="AddonType.Body">
        <NumericEdit TValue="int" ShowStepButtons="false" />
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Primary">
            <Icon Name="IconName.PlusSquare" />
        </Button>
    </Addon>
</Addons>