@implements IDisposable
<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Dark" ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        <BarItem>
            <BarLink To="">
                <BarIcon IconName="@customIcon" Display="Display.InlineBlock" />
                E-Commerce Demo
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>All Pages</BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="e-commerce/backend/orders">
                            Backend
                        </BarDropdownItem>
                        <BarDropdownDivider />
                        <BarDropdownItem To="e-commerce/signin">
                            Sign In
                        </BarDropdownItem>
                        <BarDropdownItem To="e-commerce/signup">
                            Sign Up
                        </BarDropdownItem>
                        <BarDropdownDivider />
                        <BarDropdownItem To="e-commerce/checkout">
                            Checkout Page
                        </BarDropdownItem>
                        <BarDropdownItem To="e-commerce/contact">
                            Contact Us
                        </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <BarLink To="e-commerce/category">Fashion</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="e-commerce/category">Supermarket</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="e-commerce/category">Electronics</BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <Addons>
                    <Addon AddonType="AddonType.Body">
                        <Autocomplete Data="AppState.Products"
                                      TItem="Product"
                                      TValue="string"
                                      ValueField="(x) => x.Name"
                                      TextField='@((x) => $"{x.Name} - ${x.GetFinalPrice()}")'
                                      Style="height: calc(1.5em + .75rem + 2px);">
                            <NotFoundContent>No Products found...</NotFoundContent>
                        </Autocomplete>
                    </Addon>
                    <Addon AddonType="AddonType.End">
                        <Button Color="Color.Primary">
                            <Icon Name="IconName.Search" />
                        </Button>
                    </Addon>
                </Addons>
            </BarItem>
            <BarItem>
                <Button Type="ButtonType.Link" To="e-commerce/cart" Color="Color.Primary" Margin="Margin.Is2.FromLeft">
                    <Icon Name="IconName.ShoppingCart" />
                    @if ( AppState.CustomerCart.OrderItems.Any() )
                    {
                        <Badge Color="Color.Danger" Border="Border.RoundedCircle" Class="position-absolute">@AppState.CustomerCart.OrderItems?.Count()</Badge>
                    }
                </Button>
            </BarItem>
            <BarItem>
                <Dropdown RightAligned>
                    <DropdownToggle ToggleIconVisible="false" Color="Color.Secondary" Margin="Margin.Is2.FromLeft" Border="Border.RoundedCircle">
                        <Icon Name="IconName.UserCircle" />
                    </DropdownToggle>
                    <DropdownMenu>
                        <DropdownItem>
                            <Icon Name="IconName.UserFriends" />
                            My Profile
                        </DropdownItem>
                        <DropdownDivider />
                        <DropdownItem>
                            <Icon Name="IconName.Bell" TextColor="TextColor.Primary" />
                            Notifications
                        </DropdownItem>
                        <DropdownItem>
                            <Icon Name="IconName.InfoCircle" TextColor="TextColor.Success" />
                            Support
                        </DropdownItem>
                        <DropdownDivider />
                        <DropdownItem>
                            <Icon Name="IconName.Lock" TextColor="TextColor.Danger" />
                            Logout
                        </DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>
@code{
    RenderFragment customIcon =@<img src="/brand-logo.png" style="width:32px; height: 32px" />;
}